

.butt1 {
	background-color: #4b2494;
	color: white;
	border: none;
	text-align: center;
	display: inline-block;
	width: 100px;
	height: 50px;
	padding: 0px;
	outline: 0;
	margin: 0px;
	float: left;
	border-radius: 0px;

}
.butt2 {
	background-color: #6441a5;
	color: white;
	border: none;
	text-align: center;
	display: inline-block;
	width: 100px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	border-radius: 0px;
	
	outline: 0;
}
.butt3 {
	background-color: #6441a5;
	color: white;
	border: none;
	text-align: center;
	display: inline-block;
	width: 100px;
	height: 50px;
	padding: 0px;
	outline: 0;
	margin: 0px;
	float:right;
	border-radius: 0px;
}

.botBar {
	position: fixed;
	z-index: 100;
	bottom: 0;
	left:0;
	width: 100%;
	height: 50px;
	display:block;
	

}

.aboveBar {
	position: fixed;
	z-index: 100;
	bottom: 75px;
	left:0;
	width: 100%;
	height: 50px;
	display:block;
	border: none;

}
.alilAboveBar {
	position: fixed;
	z-index: 100;
	bottom: 60px;
	left:0;
	width: 100%;
	height: 50px;
	display:block;
	border: none;

}

.normalButt {
	background-color: #6441a5;
	color: white;
	border: none;
	text-align: center;
	display: inline-block;
	width: 100px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	outline: 0;
}




