.butt1 {
	background-color: #6441a5;
	color: white;
	border: none;
	text-align: center;
	display: inline-block;
	width: 90px;
	height: 50px;
	padding: 0px;
	outline: 0;
	margin: 0px;

}
.butt2 {
	background-color: #6441a5;
	color: white;
	border: none;
	text-align: center;
	display: inline-block;
	width: 90px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	
	outline: 0;
}
.butt3 {
	background-color: #6441a5;
	color: white;
	border: none;
	text-align: center;
	display: inline-block;
	width: 90px;
	height: 50px;
	padding: 0px;
	outline: 0;
	margin: 0px;
	float:right;
}

.botBar {
	position: fixed;
	z-index: 100;
	bottom: 0;
	left:0;
	width: 100%;
	height: 50px;
	display:block;
	

}